**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
s="String"
print(len(s))

6

In [2]:
s="String"
count=0
for i in s:
    count+=1
print(count)

6

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [3]:
n=input("")
if len(n)>=2:
 print(n[:2]+n[-2:])
else:
    print("Empty String")

kojd

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [4]:
while True:
    n=input("")
    if n[-3:]=="ing":
        n=n.replace("ing","ly")
    elif len(n) >=3:
        n=''.join([n,"ing"])
    else:
        break
    print(n)

playly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [7]:
def resu(n):
    le=0
    ou=""
    for i in n:
        if len(i) > le:
            le = len(i)
            ou=i
    return ou,le
def main():
    inp=input("")
    words=inp.split()
    outt =resu(words)
    print(outt)
main()

('tomato', 6)

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [127]:
n=input("")
out=list(n)
out[0],out[-1]=out[-1],out[0]
print(''.join(out))

rma

In [128]:
n=input("")
out=n[-1]+n[1:-1]+n[0]
print(out)

rma

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [6]:
n=input("")
i=0
out=""
while i < len(n):
    if i%2==0:
        out += n[i]
    i+=1
print(out)

ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [9]:
statment=input("").split()
words={}
for word in statment:
    if word in words:
        words[word]+=1
    else:
        words[word]=1
max_word=max(words,key=words.get)
print(f"{max_word} {words[max_word]}")

hello 2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [10]:
n=input("")
print(f"{n.upper()} {n.lower()}")

GHJLO ghjlo

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [21]:
# def resu(n):
#     if len(n)%4==0:
#          n=n[::-1]
#     return n
# inp=input("")
# ot=resu(inp)
# print(ot)


def resu(n):
    if len(n)%4==0:
        n.reverse()
    return n
inp=input("")
ot=resu(list(inp))
print(''.join(ot))

rima

**10- Write a Python program to remove a newline in Python

In [27]:
n="Hello \neveryone \nmy name is "
n=n.replace("\n","")
print(n)

h="Hello \neveryone \nmy name is "
h=''.join(h.splitlines())
print(h)

Hello everyone my name is
Hello everyone my name is

**11-Write a Python program to check whether a string starts with specified characters

In [29]:
n=input("")
if n[0]=='a':
    print("word start witah a ")
else :
    print("word don't start with a")

word don't start with a

**12- Write a Python program to add prefix text to all of the lines in a string

In [129]:
n=input("")
p=input("")
print(n+p)

amrwarda

**13-Write a Python program to print the following numbers up to 2 decimal places

In [130]:
n=2
print("{:.2f}".format(n))

2.00

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [132]:
pn=float(input(""))
nn=float(input(""))
print("{:.2f}".format(pn),"{:.2f}".format(nn))

5.45 -4.25

**15-Write a Python program to display a number with a comma separator

In [37]:
n=input("")
n=list(str(n))
n=','.join(n)
print(n)
print(n.splitlines())

1,2,3,4,5,6
['1,2,3,4,5,6']

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
n=input("")
# n=list(n)
# n.reverse()
# print(''.join(n))
 
print(n[::-1])

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [42]:
n=input("")
dic={}
for chr in n:
    if chr in dic:
        dic[chr]+=1
    else:
        dic[chr]=1
print(dic)

{'a': 2, 'h': 2, 'm': 2, 'e': 1, 'd': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [45]:
n=input("")
dic={}
for chr in n:
    if chr in dic:
        dic[chr]+=1
    else:
        dic[chr]=1
for chr in n:
    if dic[chr]==1:
      print(chr)
      break

s

**19-Write a Python program to remove spaces from a given string

In [46]:
n=input("").strip()
print (n)

jnff;l

**20-Write a Python program to count the number of non-empty substrings of a given string

In [97]:
import itertools
n=input("")
out=itertools.permutations(n)
for res in out:
    print(''.join(res))

abc
acb
bac
bca
cab
cba

**21-write a Python program to swap first and last element of any list.

In [55]:
n=input("").split()
if len(n)>=2:
    n[0],n[-1]=n[-1],n[0]
print(' '.join(n))

yara bos amr nahd ashr

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [58]:
n=list(input("").split(','))
p1=int(input("pass1= "))
p2=int(input("pass2: "))
n[p1],n[p2]=n[p2],n[p1]
print(n)

['10', '40', '30', '20', '50', '60']

**23- search for the all ways to know the length of the list

In [59]:
in_list=[1,2,3,4,5,6,7,8,9]
count=0
for _ in in_list:
    count+=1
print(count)
#0r
print(len(in_list))
#or
print(len([x for x in in_list]))
#or
print(len(set(in_list)))

9
9
9
9

**24-write a Python code to find the Maximum number of list of numbers.

In [60]:
in_list=[4,2,3,1,5,9,7,8,6]
mx_num=max(in_list)
print(mx_num)
#and can solve by loop

9

**25-write a Python code to find the Minimum number of list of numbers.

In [61]:
in_list=[4,2,3,1,5,9,7,8,6]
mu_num=min(in_list)
print(mu_num)
#and can solve by loop

1

**26-search for if an elem is existing in list

In [64]:
in_list=[4,2,3,1,5,9,7,8,6]
if 5 in in_list:
    print("5 existed in the list")
else: 
        print("5 not existed in the list")

5 existed in the list

**27- clear python list using different ways

In [69]:
in_list=[4,2,3,1,5,9,7,8,6]
# in_list.clear()
# in_list=[]
while in_list:
    in_list.pop()
print(in_list)

[]

**28-remove duplicated elements from a list

In [71]:
n=[1,2,3,3,4,5,5,6,7,8,8,8]
# out=set(n)
out=list(dict.fromkeys(n))#method to create a dictionary from the list, with the elements of the list as keys.
#Since dictionaries cannot have duplicate keys, this automatically removes duplicate elements.
print(out)

[1, 2, 3, 4, 5, 6, 7, 8]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [73]:
test_list =["amr",3,"is",8]
Key_list=["name","id"]
out=[]
for i in range(0,len(test_list),2):
    dic={}
    dic[Key_list[0]]=test_list[i]
    dic[Key_list[1]]=test_list[i+1]
    out.append(dic)
print(out)

[{'name': 'amr', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [77]:
test_list=['a','b','c','a','a','b','f','d','a','f','t','y','u','b']
uniq='a'
# count=0
# for item in test_list:
#     if item == uniq:
#       count+=1
# print(count)

dic={}
for chr in test_list:
    if chr in dic:
        dic[chr]+=1
    else:
        dic[chr]=1
print(dic[uniq])

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [84]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8] 
K = 3
dic={}

for i in test_list:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1

out_list=[]
for x in dic:
    if dic[x] > K:
        out_list.append(x)

print(out_list)

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [9]:

inp = [1, 2, 2, 3, 4, 5, 6]
res = []

for i in range(len(inp)-1):
    if inp[i] <= inp[i+1]:
        res.append(inp[i+1])
print(res)

[2, 2, 3, 4, 5, 6]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [104]:
import itertools
n=[1,2,3]
i=''.join(map(str,n))
out=itertools.permutations(i)
for pre in out:
  print(''.join(pre))

123
132
213
231
312
321

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [118]:
# test_list=[1,2,3]
# for i in range(len(test_list)):
#     for j in range(i,len(test_list)):
#         print(list(set([test_list[i],test_list[j]])))

import itertools

test_list = [1, 2, 3]
for r in range(1, len(test_list) + 1):
    for combination in itertools.combinations(test_list, r):
        print(list(combination))

[1]
[2]
[3]
[1, 2]
[1, 3]
[2, 3]
[1, 2, 3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [125]:
import itertools
list_1=["a","b"]
list_2=[1,2]
out = itertools.product(list_1,list_2)
out_list=[]
for pair in out:
    out_list.append(pair)
print(out_list)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [2]:
inp="112345121"
dic={}
for x in inp:
    if x in dic:
        dic[x]+=1
    else:
        dic[x]=1
max_ch=max(dic,key=dic.get)
del dic[max_ch]
remain_chars=''.join([k*v for k,v in dic.items()])
#بعد مالايتيم تحولها لتابلز فبتشتغل ال نيه فالفي علي انها تضرب او تضعف العدد لو اتنين وتريبل لو تلاته ->('a', 2), it will generate 'aa'
print(remain_chars)

22345

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [153]:
list_1=['Gfg', 'is', 'best']
list_2=[0,1,2,1,0,0,0,2,1,1,0]
for i in range(len(list_2)):
        list_2[i]=list_1[list_2[i]]
print(list_2)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [162]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
n = 3
fou=False
for tup in test_list:
    k_count=tup.count(K)
    if k_count==n:
        print(tup)
        fou=True
if not fou:
    print([])

[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [169]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

sort_0=sorted(array,key=lambda x:x[0])
print(f"0 {sort_0}")
sort_1=sorted(array,key=lambda x:x[1])
print(f"1 {sort_1}")
sort_2=sorted(array,key=lambda x:x[2])
print(f"2 {sort_2}")

0 [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
1 [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
2 [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [175]:
dic={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sort_dic=sorted(dic,key=lambda x:dic[x])
for key in sort_dic:
 print({key:dic[key]})

{'yash': 2}
{'rajnish': 9}
{'ravi': 10}
{'sanjeev': 15}
{'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [185]:
test_dict = {"Gfg": 3, "is": 7, "best": 10, "for": 6, "geeks": "CS"}
K = 7
result = {}

for key in test_dict:
    if isinstance(test_dict[key], int) and test_dict[key] < K:
        result[key] = test_dict[key]

print(result)

{'Gfg': 3, 'for': 6}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [187]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
fi_dict={}
fi_dict.update(dic1)
fi_dict.update(dic2)
fi_dict.update(dic3)
print(fi_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [188]:
test_dict = {"Gfg": 3, "is": 7, "best": 10, "for": 6, "geeks": "CS"}
for key,val in test_dict.items():
    print(f"key: {key} value: {val}")

key: Gfg value: 3
key: is value: 7
key: best value: 10
key: for value: 6
key: geeks value: CS

**44- Write a Python script to merge two Python dictionaries

In [190]:
dic1={'a':1 , 'b':2}
dic2={'c':3 ,'d':4}
dic_merg={}
dic_merg.update(dic1)
dic_merg.update(dic2)
print(dic_merg)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [192]:
dic={'a':1 , 'b':2 , 'c':3 ,'d':4}
max_val=max(dic.values())
print(max_val)

4

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [207]:
test_dict={'c1': 'Red', 'c2': 'Green', 'c3': None}

for key,value in list(test_dict.items()):
    if value is None:
        del test_dict[key]
print(test_dict)



# filt_dict={key: value for key , value in test_dict.items() if value is not None }
# print(filt_dict)

{'c1': 'Red', 'c2': 'Green', 'c3': None}

**47-Write a Python program to create a tuple of numbers and print one item

In [210]:
tup=tuple(input(""))
print(tup[2])

3

**48-Write a Python program to unpack a tuple into several variables

In [212]:
tup=('22','7','24')
Emam,khraba,Menaem=tup
print(f"Emam: {Emam} \nKhraba: {khraba} \nMenaem: {Menaem}")

Emam: 22
Khraba: 7
Menaem: 24

**49-Write a Python program to add an item to a tuple

In [215]:
tup=('22','7','24')
tup_t_list=list(tup)
tup_t_list.append('3')
n_tup=tuple(tup_t_list)
print(n_tup)

('22', '7', '24', '3')

**50-Write a Python program to convert a tuple to a string

In [217]:
tup=(3,2,24,6,22)
tup_str=str(tup)
print(tup_str)

(3, 2, 24, 6, 22)

**51-Write a Python program to convert a list to a tuple

In [218]:
lis=[32,43,564,342,12]
lis_tup=tuple(lis)
print(lis_tup)

(32, 43, 564, 342, 12)

**52-Write a Python program to reverse a tuple

In [219]:
tup=(32,43,564,342,12)
rev_tup=list(tup)
rev_tup.reverse()
rev=tuple(rev_tup)
print(rev)

(12, 342, 564, 43, 32)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [2]:
Sample_list= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_val=100
Sample_list=[(tup[0],tup[1],new_val) for tup in Sample_list]
print(Sample_list)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [3]:
str_list=['p', 'y', 't', 'h', 'o', 'n', '3', '.', '0']
str_tup=tuple(str_list)
print(str_tup)

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [13]:
tup=((32,4,21),(4,3,8,98),23,3,(21,31))
lis=[]
for x in tup:
    if isinstance(x,tuple):
        lis.extend(x)
    else:
        lis.append(x)
sum_ele=sum(lis)
avg=sum_ele/len(lis)
print(avg)

22.545454545454547

**56-Write a Python program to add member(s) to a set.

In [14]:
se=(1,2,3,4,5,6,7,8)
x=99
se_lis=list(se)
se_lis.append(x)
s_out=set(se_lis)
print(s_out)

{1, 2, 3, 4, 5, 6, 7, 8, 99}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [19]:
se=(1,2,3,4,5,6,7,8)
s_lis=list(se)
x=5
if x in s_lis:
    s_lis.remove(x)
out_se=set(s_lis)
print(out_se)

{1, 2, 3, 4, 6, 7, 8}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [2]:
x={43,56,21,665,122,13}
y={21,23,56,9,67,122,32}
print(f"union : {x.union(y)}")
print(f"intersection : {x.intersection(y)}")
print(f"symmetric diff : {x.symmetric_difference(y)}")

union : {32, 67, 9, 43, 13, 21, 23, 56, 665, 122}
intersection : {56, 122, 21}
symmetric diff : {32, 67, 9, 43, 13, 23, 665}

**59-Write a Python program to find the maximum and minimum values in a set

In [16]:
x={43,56,21,665,122,13}
max_val=max(x)
min_val=min(x)
print(f"max value : {max_val} \nmin value : {min_val}")

max value : 665
min value : 13

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [15]:
x={43,56,21,665,122,13}
y=678
found =False


# for i in x:
#     for h in x:
#         if i+h==y:
#             print([i,h])
#             found = True
            
#     if found:
#         break
# if  not found:
#     print(f"Not found two pairs suumation = {y}")


left=0
rigt=len(x)-1
while left < rigt:
    c_sum=list(x)[left]+list(x)[rigt]
    if c_sum == y:
        print([list(x)[left],list(x)[rigt]])
        found = True
        break
    elif c_sum <y:
        left+=1
    else:
        rigt-=1
if not found:
    print(f"Not found two pairs suumation = {y}")

[665, 13]